.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Login{
  width: 300px; height: fit-content;
  padding: 20px; box-shadow: 0 0 .2em whitesmoke;
  justify-content: center;  border-radius: 10px;

}
.Login input{
  padding: 10px; margin: 10px auto;
  width: 90%;
}
.Login button{
  width: 80%; padding: 10px;
  box-shadow: 0 0 .2em rgb(50, 27, 182);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
